<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" routerLink="/landing" routerDirection="back" class="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="notification">
      <ion-icon name="notifications-outline" color="dark"></ion-icon>

    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profile</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="Mauricio Franco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address Lane</ion-label>
      <ion-input value="C/ Eudoro galindo #2093"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input value="Cochabamba"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="mauriciofp@outlook.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="+591 76414704"></ion-input>
    </ion-item>
  </div>

</ion-content>
